<h1>{{info.firstName}} {{info.lastName}}</h1>
<div id="info">
    <h2>Applicants Info:</h2>
    <ul>
        <li>email: {{info.email}}</li>
        <li>phone: {{info.phone}}</li>
        <li>address: {{info.address}}<br>{{info.city}}, {{info.state}} {{cinfo.zipCode}} {{info.country}}</li>
    </ul>
</div>
<div>
    <h2>Add Resume to Database:</h2>
    <form id="addResume" action="applicantsInfo.handlebars" method="POST">
        <label for="file">File:</label>
        <br>
        <input type="text" name="file" placeholder="upload resume">
        <input type="submit" value="upload">
    </form>
</div>
<div>
    <form id="searchResumes" action="applicantsInfo.handlebars" method="GET">
        <h2>Filter Selection:</h2>
        <label for="fileName">By File Name:</label>
        <input type="text" name="fileName" placeholder="enter file name">
        <select name="order" id="order">
            <option value="ASC">ascending</option>
            <option value="DESC">descending</option>
        </select>
    </form>
</div>
<div id="resumes">
    <table>
        <tr>
            <th>resumeID</th>
            <th>applicantID</th>
            <th>fileLocation</th>
        </tr>
        {{#each resumes}}
        <tr {{this.resumeID}}>
            <td>{{this.resumeID}}</td>
            <td>{{this.applicantID}}</td>
            <td>{{this.fileLocation}}</td>
            <td><button class='Update'>Edit</button></td>
            <td><button class='delete'>Delete</button></td>
        </tr>
        {{/each}}
    </table>
</div>
