<h1>{{info.firstName}} {{info.lastName}}</h1>
<div id="info">
    <h2>Applicants Info:</h2>
    <ul>
        <li>email: {{info.email}}</li>
        <li>phone: {{info.phone}}</li>
        <li>address: {{info.address}}<br>{{info.city}}, {{info.state}} {{cinfo.zipCode}} {{info.country}}</li>
    </ul>
</div>
<div>
    <h2>Add Resume to Database:</h2>
    <form id="addResume" action="/applicantInfo/{{info.applicantID}}" method="POST" enctype="multipart/form-data">
        <label for="resume">File:</label>
        <br>
        <input type="file" name="resume" required>
        <input type="submit" value="upload">
    </form>
</div>
<div>
    <form id="searchResumes" action="/applicantInfo/{{info.applicantID}}" method="GET">
        <h2>Filter Selection:</h2>
        <label for="fileName">By File Name:</label>
        <input type="text" name="fileName" placeholder="enter file name">
        
        <label for="order"><br> --or-- <br>Order by Resume ID:</label>
        <select name="order">
            <option value="" disabled selected>Select Order</option>
            <option value="ASC">Ascending Order</option>
            <option value="DESC">Descending Order</option>
        </select>
        <input type="submit" value="filter">
    </form>
</div>
<div id="resumes">
    <table>
        <tr>
            <th>resumeID</th>
            <th>applicantID</th>
            <th>fileLocation</th>
        </tr>
        {{#each resumes}}
        <tr {{this.resumeID}}>
            <td>{{this.resumeID}}</td>
            <td>{{this.applicantID}}</td>
            <td>{{this.fileName}}</td>
            <td><button class='Update'>Edit</button></td>
            <td><button class='delete'>Delete</button></td>
        </tr>
        {{/each}}
    </table>
</div>
