<h1>{{info.firstName}} {{info.lastName}}</h1>
<div id="info">
    <h2>Applicants Info:</h2>
    <ul>
        <li>email: {{info.email}}</li>
        <li>phone: {{info.phone}}</li>
        <li>address: {{info.address}}<br>{{info.city}}, {{info.state}} {{cinfo.zipCode}} {{info.country}}</li>
    </ul>
</div>
<div id="resumes">
    <table>
        <tr>
            <th>resumeID</th>
            <th>applicantID</th>
            <th>fileLocation</th>
        </tr>
        {{#each resumes}}
        <tr {{this.resumeID}}>
            <td>{{this.resumeID}}</td>
            <td>{{this.applicantID}}</td>
            <td>{{this.fileLocation}}</td>
        </tr>
        {{/each}}
    </table>
</div>