<h1>Applicants Page</h1>
<div class="insertForm">
    <h2>Add Applicant to Database:</h2>
    <form id="addApplicant">
        <label for="fname">First Name:</label>
        <br>
        <input type="text" name="fname" placeholder="first name">
        <br>
        <label for="lname">Last Name:</label>
        <br>
        <input type="text" name="lname" placeholder="last name">
        <br>
        <label for="email">Email:</label>
        <br>
        <input type="email" name="email" placeholder="email">
        <br>
        <label for="phone">Phone Number:</label>
        <br>
        <input type="tel" name="phone" placeholder="XXX-XXX-XXX">
        <br>
        <label for="address">Address:</label>
        <br>
        <input type="text" name="address" placeholder="street address"><br>
        <input type="text" name="city" placeholder="city"><br>
        <input type="text" name="country" placeholder="country"><br>
        <input type="text" name="zip" placeholder="zipcode"><br><br>
        <input type="submit">
    </form>
</div>
<div class="selectView">
    <h2>Select Applicant:</h2>
    <table id="applicantTable">
        <tr>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>phone</th>
            <th>address</th>
        </tr>
        {{#each applicants.rows}}
        <tr id={{this.id}}>
            <td class="data">{{this.firstname}}</td>
            <td class="data">{{this.lastname}}</td>
            <td class="data">{{this.email}}</td>
            <td class="data">{{this.phone}}</td>
            <td class="data">{{this.address}},{{this.city}} {{this.state}}, {{this.zipcode}}</td>
            <td><button class='edit'>Edit</button></td>
            <td><button class='delete'>Delete</button></td>
        </tr>
        {{/each}}
    </table>
</div>
