<h1>Applicants Page</h1>

<div class="insertForm">
    <h2>Add Applicant to Database:</h2>
    <form id="addApplicant" action="./applicants" method="POST">
        <div class="formLayout">
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" placeholder="first name" maxlength="100" required>
            
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" placeholder="last name" maxlength="100" required>
            
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="email" maxlength="100" required>
            
            <label for="phone">Phone Number:</label>
            <input type="tel" name="phone" placeholder="XXX-XXX-XXX" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            
            <label for="address">Address:</label>
            <input type="text" name="address" placeholder="street address" maxlength="256" required>
            
            <label for="city">City:</label>
            <input type="text" name="city" placeholder="city" maxlength="100" required>
            
            <label for="state">State:</label>
            <input type="text" name="state" placeholder="state (abbr XX)" placeholder="XX [A-Z, a-z]" pattern="[A-Za-z]{2}" required>
            
            <label for="country">Country:</label>
            <input type="text" name="country" placeholder="country (abbr XX)" pattern="[A-Za-z]{2}" required>
            
            <label for="zipCode">Zipcode:</label>
            <input type="text" name="zipCode" placeholder="zipcode" maxlength="16"><br>
        </div>
        <input type="submit" value="submit">
    </form>
</div>

<div class="selectView">
    <h2>Select Applicant:</h2>
    <form id="filterApplicants" action="./applicants" method="GET">
        <h3>Filter Selection:</h3>
        <label for="filter">filter by:</label>
        <select name="filtertype" id="filtertype" onchange="getInputType()">
            <option value="firstName" selected="selected">first name</option>
            <option value="lastName">last name</option>
            <option value="email">email</option>
            <option value="phone">phone</option>
            <option value="address">address</option>
            <option value="city">city</option>
            <option value="state">state</option>
            <option value="country">country</option>
            <option value="zipCode">zipcode</option> 
        </select>
        <label for="input">Enter value:</label>
        <input type="text" name="input" placeholder="text here">
        <input type="submit" value="filter">
    </form>
    
    <table id="applicantTable">
        <tr>
            <th>applicant ID</th>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>phone</th>
            <th>address</th>
            <th>city</th>
            <th>state</th>
            <th>country</th>
            <th>zipcode</th>
        </tr>
        {{#each applicants}}
        <tr id={{this.applicantID}}>
            <td class="data">{{this.applicantID}}</td>
            <td class="data">{{this.firstName}}</td>
            <td class="data">{{this.lastName}}</td>
            <td class="data">{{this.email}}</td>
            <td class="data">{{this.phone}}</td>
            <td class="data">{{this.address}}</td>
            <td class="data">{{this.city}}</td>
            <td class="data">{{this.state}}</td>
            <td class="data">{{this.country}}</td>
            <td class="data">{{this.zipCode}}</td>
            <td><a href="/applicantInfo/{{this.applicantID}}">Select</a></td>
            <td><button class='Update'>Edit</button></td>
            <td><button class='delete'>Delete</button></td>
        </tr>
        {{/each}}
    </table>
</div>

<script src="/javascript/applicantsSearchInput.js"></script>
<script type="text/javascript">
  getInputType();
</script>