<h1>Employers List</h1>
<div class = "insertForm">
    <h2>Add Employer</h2>
    <form id="addEmployer" action="./Employers" method = "POST">
        <div class="formLayout">
            <label for = "businessName">Business Name:</label>
            <input type="text" name="businessName" placeholder="business name" maxlength="100" required>
    
            <label for = "email">Email:</label>
            <input type="text" name="email" placeholder="email" maxlength ="100" required>

            <label for = "phone">Phone:</label>
            <input type="tel" name="phone" placeholder="XXX-XXX-XXX" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            
            <label for = "address">Address:</label>
            <input type="text" name="address" placeholder="address" maxlength ="256" required>
        
            <label for = "city">City:</label>
            <input type="text" name="city" placeholder="city" maxlength ="100" required>

            <label for = "state">State:</label>
            <input type="text" name="state" placeholder="state (abbr)" placeholder="XX [A-Z, a-z]" pattern="[A-Za-z]{2}" required>

            <label for = "country">Country:</label>
            <input type="text" name="country" placeholder="country (abbr)" pattern="[A-Za-z]{2}" required>
            
            <label for = "zipCode">Zip Code:</label>
            <input type="text" name="zipCode" placeholder="zipcode" maxlength="16">
        </div>
        <input type = "submit" name="addButton" value="Add Employer" id="addButton">
    </form>
    </div>
{{#if employers}}
<div class ="selectView">
    <h2>Select Employer</h2>
    <div>
        <form id="filterEmployers" action="./employers" method="GET">
            <label for="filter">filter by:</label>
            <select name="filtertype" id="filtertype" onchange="getInputType()">
                <option value="businessName" selected="selected">business name</option>
                <option value="email">email</option>
                <option value="phone">phone</option>
                <option value="address">address</option>
                <option value="city">city</option>
                <option value="state">state</option>
                <option value="country">country</option>
                <option value="zipCode">zipcode</option>
            </select>
            <label for="input">Enter value:</label>
            <input type="text" name="input" placeholder="text here">
            <input type="submit" value="filter">
            <a href="/employers">Clear Filter</a>
        </form>

        <table id="employerTable">
            <tr>
                <th>Employer ID</th>
                <th>Business Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
            {{#each employers}}
            <tr id={{this.employerID}}>
                <td class="data">{{this.employerID}}</td>
                <td class="data">{{this.businessName}}</td>
                <td class="data">{{this.email}}</td>
                <td class="data">{{this.phone}}</td>
                <td class="data">{{this.address}} {{this.city}}, {{this.state}}<br>{{this.country}} {{this.zipCode}}</td>
                <td><a href = "/employers/{{employerID}}">View Profile</a></td>
                <td><a href = "/employers/{{employerID}}/update">Update</a></td> 
                <td><button onclick = "deleteEmployer({{employerID}})">Delete</button></td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
{{/if}}
<script type="text/javascript">
    getInputType();
</script>