<h1>Job Listings</h1>
<script src = "./posts.js"></script>
<div class = "insertForm">
<h2>Add Post</h2>
    <form id="addPost" action = "./Posts" method = "POST">
        <label for = "description">Description:</label>
        <br>
        <input type="text" name="description" placeholder="description" required>
        <br>
    
        <label for = "employerID">Employer ID:</label>
        <br>
        <input type="text" name="employerID" placeholder="employer ID" required>
        <br>

        <input type = "submit" name="addButton" value="Add Employer" id="addButton">
    </form>
</div>

<div class ="selectPost">
        <h2>Select Post:</h2>
        <form id="filterPosts" action="/Posts" method="GET">
        <h3>Filter By:</h3>
        <label for="filter">filter by:</label>
        <select name="filter" id="filter">
            <option value="postID">post ID</option>
            <option value="description">description</option>
            <option value="employerID">employer ID</option>
        </select>
        <label for="input">Enter value:</label>
        <input type="text" name="input" placeholder="text here">
        <input type="submit" value="filter">
    </form>
        <table id="postTable">
            <tr>
                <th>Post ID</th>
                <th>Description</th>
                <th>Employer ID</th>
            </tr>
            {{#each rows}}
            <tr id={{this.employerID}}
                <td class="data">{{this.postID}}, {{this.description}}, {{this.employerID}}</td>
                <td><a href = "/Posts/{{postID}}">Select</a></td>
                <td><a href = "/Posts/{{postID}}">Update</a></td>
                <td><button onclick = "deletePost({{postID}}" class='delete'>Delete</button></td>
            </tr>
            {{/each}}
        </table>
    </div>

