<h1>Update {{info.fileName}}</h1>
<div class="insertForm">
    <form id="update-resumes" action="./resumes" method="POST">
        <div class="formLayout">
            <label for="applicantID">Select Applicant ID:</label>
            <select name="applicantID">
                {{#each applicants}}
                    {{#ifEql this.applicantID ../info.applicantID}}
                    <option value="{{this.applicantID}}" selected="selected">{{this.firstName}} {{this.lastName}}: ID {{this.applicantID}}</option>
                    {{else}}
                    <option value="{{this.applicantID}}">{{this.firstName}} {{this.lastName}}: ID {{this.applicantID}}</option>
                    {{/ifEql}}
                {{/each}}
            </select>
            <label for="fileName">Change File Name:</label>
            <input type="text" name="fileName" value="{{info.fileName}}" required>
        </div>
    </form>
    <button onclick="updateResume({{info.resumeID}})">Update</button>
</div>
<script src="/javascript/updateResume.js"></script>