<html>
  <h1>Update Post</h1>
    <form id="update-post" action="/posts" method="post">
      <label for = "description">Description:</label>
      <br>
      <textarea name="description" maxlength="150" cols="50" rows="3" required>{{post.description}}</textarea>
      <br>
      <label for="employerID">Select employer ID:</label>
            <select name="employerID">
                {{#each employers}}
                    {{#ifEql this.employerID ../post.employerID}}
                    <option value="{{this.employerID}}" selected="selected">{{this.businessName}}: ID {{this.employerID}}</option>
                    {{else}}
                    <option value="{{this.employerID}}">{{this.businessName}}: ID {{this.employerID}}</option>
                    {{/ifEql}}
                {{/each}}
            </select>
    </form>
  <button onclick="updatePost({{post.postID}})">Update</button>
</html>
